@charset "utf-8";
.backlist{margin-bottom: 20px;}
.backlist a{
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#superslide-contents-config-form .backlist{margin-bottom: 0;}

.options-set .dependent-options.form-item{margin-left:0;}

#layout-templates ul.template-list {margin:0;}
ul.template-list .form-item-template {display:inline-block; margin:10px 5px 10px 0; position: relative; width:160px; height:152px; overflow: hidden; padding: 8px 8px 0 8px; background: #e3e3e3;}
ul.template-list .form-item-template input {margin-top:130px; text-align:left; position: absolute; left: 50px;}
ul.template-list .form-item-template img {margin-bottom:5px; float:left; position: absolute; top:8px; left:8px;}
ul.template-list .form-item-template span {margin-top:126px; text-align:left; position: absolute; left: 65px;}

fieldset.effect-layout {margin: 20px 0;}
fieldset.effect-config {float: left; margin-left:32%; position: absolute; top: 70px; width:65%;}
#edit-params  .fieldset-wrapper {height: 273px;}
