
/* Admin form */

#st-tablist-table .form-type-select label,
#st-tablist-table .form-type-textfield label {
  float: left;
  clear: left;
  min-width: 120px;
  margin-right: 10px;
}
#st-tablist-table .form-item {
  margin-bottom: 5px;
}
#st-tablist-table .form-item .description {
  margin-top: 3px;
}
#st-tablist-table .st-tab-title {
  width: 130px;
  height: 125px;
}
#st-tablist-table .st-tab-type,
#st-tablist-table .st-tab-remove {
  width: 100px;
}

#st-tablist-table .description {
  white-space: normal;
}

#st-tablist-table .st-tab-title .form-item .form-text {
  width: 80px;
}
#st-tablist-table .st-tab-type label.option {
  width: auto;
}
#st-tablist-table .st-tab-content .form-item .form-text {
  width: 150px;
}
#st-tablist-table .st-tab-options-form {
  border-bottom: 1px solid #999;
  padding: 5px;
}
html.js #st-tablist-table .st-tab-options-form {
  display: none;
  border-bottom: none;
  padding: 0px;
}
#st-tablist-table .st-tab-remove label,
#superslide-contents-config-form #add-more-tabs-button label {
  font-weight: bold;
  float: left;
  clear: left;
  width: auto;
}
#superslide-contents-config-form #add-more-tabs-button {
  width: 100px;
  display: block;
  margin-top: 20px;
  float: right;
}
#superslide-contents-config-form .add-tab,
#st-tablist-table .delete-tab {
  display: block;
  overflow: hidden;
  width: 39px;
  height: 23px;
  padding: 0;
  margin: 0;
  border: 0;
  text-indent: -9999px;
  cursor: pointer;
}

#superslide-contents-config-form .add-tab {
  background: transparent url(../images/add-tab.gif) no-repeat 0 -3px;
}
#superslide-tabs .delete-tab {
  background: transparent url(../images/delete-tab.gif) no-repeat 0 0;
}
